html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.template-1 {
  height: 100%;
  width: 60%;
}

.template-1 > main {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 97%;
}

.template-1 > footer {
  height: 3%;
  display: flex;
  justify-content: space-between;
}

.main--section--1 {
  height: 40%;
}

.main--section--2 {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
  background-color: #f9dbdd;
  height: 60%;
  border-top: 1px solid black;
}

footer div {
  background-color: #afadae;
  margin: 6px 0 8px 0;
}

footer div:first-child {
  width: 18%;
}

footer div:nth-child(2) {
  width: 45%;
}
