.choose--flame {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 5rem 0 0 0;
  align-items: center;
  margin-bottom: 2rem;
}

.choose--flame > h1 {
  font-family: Georgia, serif;
  text-align: left;
  margin: 0;
  padding: 1.3rem 0;
  width: 70%;
}

.choose--flame > main {
  display: flex;
  width: 70%;
  padding: 1rem 0 3rem 0;
}

.choose--flame > main > div:first-child {
  width: 50%;
}

.choose--flame > main > div:first-child div {
  padding-right: 1rem;
}

.choose--flame > main > div:first-child div i {
  padding: 0.5rem;
  background-color: red;
  text-align: center;
  font-size: 1.1rem;
  color: white;
}

.choose--flame > main > div:first-child div h3 {
  margin: 0;
  padding: 1rem 0;
}

.choose--flame > main > div:first-child div p {
  margin: 0;
  padding: 1rem 0;
  font-size: 0.4rem;
}

.choose--flame > main > div:nth-child(2) {
  width: 50%;
  box-shadow: 2px 2px 10px grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/choose-flame-bg.webp);
}

.choose--flame > main > div:nth-child(2) button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.choose--flame > main > div:nth-child(2) button:first-child {
  padding-left: 2rem;
}

.choose--flame > main > div:nth-child(2) button:nth-child(2) {
  padding-right: 2rem;
}

.choose--flame > main > div:nth-child(2) button i {
  font-size: 2rem;
  color: red;
}

.choose--flame > footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2rem 0;
  background-color: rgba(241, 12, 12, 0.877);
}

.choose--flame > footer > h2 {
  margin: 0;
  padding: 1rem 0 0 0;
}

.choose--flame > footer > p {
  margin: 0;
  padding: 1rem;
}

.choose--flame > footer > div {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
}

.choose--flame > footer > div input {
  background-color: rgba(29, 28, 28, 0.918);
  padding: 0.8rem 0.2rem 0.8rem 1.5rem;
  outline: none;
  border: 1px solid black;
  color: white;
}

.choose--flame > footer > div > input:nth-child(1) {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 20rem;
}

.choose--flame > footer > div > input:nth-child(1)::placeholder {
  color: whitesmoke;
}

.choose--flame > footer > div > input:nth-child(2) {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-width: 1400px) {
  .choose--flame > h1 {
    width: 80%;
  }

  .choose--flame > main {
    width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  .choose--flame > h1 {
    width: 92%;
  }

  .choose--flame > main {
    width: 92%;
  }

  .choose--flame > main > div:first-child {
    width: 95%;
  }

  .choose--flame > main > div:nth-child(2) {
    display: none;
  }
}
