.flame--services {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
}

.flame--services > header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.flame--services > header > h2 {
  margin: 0;
  padding: 1.2rem 0;
  width: 98%;
  font-size: 1.9rem;
  text-align: center;
}

.flame--services > header > p {
  margin: 0;
  padding: 1rem 0;
  text-align: center;
  width: 50%;
}

.flame--services > header > div i {
  color: red;
  font-size: 1.7rem;
  padding-bottom: 1.5rem;
}

.flame--services > div {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  width: 90%;
}

.flame--services > div > div:nth-child(1) {
  width: 55%;
  padding: 0 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  column-gap: 0.9rem;
  row-gap: 0.9rem;
  font-family: Georgia, serif;
}

.flame--services > div > div:nth-child(1) div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 1rem;
  width: 40%;
  box-shadow: 1px 1px 4px grey;
}

.flame--services > div > div:nth-child(1) div i {
  font-size: 1.7rem;
}

.flame--services > div > div:nth-child(1) div h3 {
  margin: 0;
  padding: 1rem 0.4rem;
  font-size: 1.4rem;
}

.flame--services > div > div:nth-child(1) div span {
  width: 2.5rem;
  background-color: black;
  height: 1px;
}

.flame--services > div > div:nth-child(1) div p {
  margin: 0;
  padding: 1rem 0.4rem;
  text-align: center;
  font-size: 1rem;
}

.flame--services > div > div:nth-child(2) {
  width: 38%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/flame-services-bg.jpg);
}

@media only screen and (max-width: 1200px) {
  .flame--services > header > p {
    width: 70%;
  }

  .flame--services > div > div:nth-child(1) {
    width: 100%;
    justify-content: center;
  }

  .flame--services > div > div:nth-child(1) div {
    width: 30%;
  }

  .flame--services > div > div:nth-child(2) {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .flame--services > header > p {
    width: 80%;
  }

  .flame--services > div > div:nth-child(1) div {
    width: 42%;
  }
}

@media only screen and (max-width: 600px) {
  .flame--services > header > p {
    width: 90%;
  }

  .flame--services > div > div:nth-child(1) div {
    width: 60%;
  }
}

@media only screen and (max-width: 400px) {
  .flame--services {
    padding: 1rem 0;
  }

  .flame--services > header > p {
    width: 95%;
  }

  .flame--services > div {
    padding: 1.2rem 0;
  }

  .flame--services > div > div:nth-child(1) div {
    width: 85%;
    padding: 2rem 1rem;
  }
}
